/* OpenLayer1.1.css */
body {
 width:80%;
 height:75%
 }
body {
 background-color: #b3b3b3;
}

#map  {
 height:400px;
 width:600px;
 }

 #map_selector li {
 cursor:pointer;
 width:350px;
 }

 #map_selector li:hover {
 background-color: black;
 }

#map div.ol-viewport div.ol-overlaycontainer-stopevent
div.ol-overviewmap.ol-unselectable.ol-control.ol-uncollapsible {
   top: 200px;
   bottom: 300px;
}
